body {
    font-family: 'Roboto', Arial, sans-serif;
  }
  
  /* .wrapper {
    width: 100%;
    max-width: 31.25rem;
    margin: 6rem auto;
    position: relative;
  } */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .searchBar {
    width: 90%;
    max-width: 600px;
    /* display: flex;
    flex-direction: row; */
    align-items: center;
    margin-top: 32px;
  }

  .fav-icon{
    pointer-events: all;
    cursor: pointer;
  }

  .anchorClass{
    text-decoration: none;
    color: #363636;
  }

  p {
    color: gray;
  }
