@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.aboutContainer {
  padding: 112px 32px 0 32px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 64px;
  height: 100%;
  width: 100%;
}

.ijnaLogo {
  margin-top: 14px;
  width: 86px;
  height: 196px;
}

.content {
  margin-top: 64px;
}

.aboutHeader {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  margin-bottom: 32px;
}

.paragraphContainer {
  max-width: 600px;
  width: 100%;
}

.paragraph a {
  text-decoration: underline;
  color: black;
}

.paragraph {
  max-width: 600px;
  margin-bottom: 24px;
}

.paragraph p {
  font-family: Roboto Serif;
  font-size: 24px;
  font-weight: 400;
}

.paragraphContainer:nth-child(2) {
  margin-bottom: 64px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.aboutContainer button {
  display: flex;
  align-items: center;
  width: 116px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #3B6362;
  color: #3B6362;
  background-color: white;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46000000834465027px;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.buttonContainer a {
  width: 116px;
  height: 42px;
  margin-bottom: 24px
}

.aboutContainer .feedBackButton,
.aboutContainer .buttonContainer .feedBackLink {
  width: 186px;
  margin-bottom: 32px;
}

.aboutContainer .contactButtonImg {
  margin-right: 8px;
}

.aboutContainer .contributorImg {
  margin-left: 8px;
}

.contributorListContainer {
  display: flex;
  align-items: center;
  height: 42px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46000000834465027px;
  color: #3B6362;
  margin-bottom: 64px;
}

.contributorListLink {
  color: #3B6362;
}

.aboutContainer .supportBtn {
  width: 140px;
}

.aboutContainer .supportBtn img {
  margin-left: 8px;
}