.navbar {
    border-bottom: 1px solid #dbdbdb !important;
}

.bookPageContainer {
    overflow: hidden !important;
    margin-bottom: 500px;
}

.navbarBrandContainer {
    align-items: center !important;
}

.text {
    font-family: Roboto Serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
}

.button {
    margin-top: 64px !important;
    padding: 0px 24px !important;
    height: 60px;
}

.center {
    text-align: center !important;

}

.book {
    margin-top: 32px !important;
    padding: 0 32px 0 32px !important;
    max-width: 800px !important;
}

.arrowIcon {
    margin-left: 8px !important;
}

.bookPageHeaderContainer {
    margin: auto !important;
    width: 800px !important;
    padding: 32px 32px 0 32px !important;
}

p {
    //! may cause styling issues on other pages
    margin-bottom: 32px !important;
}

.backContainer {
    display: flex !important;
    cursor: pointer !important;
}

data {
    margin-bottom: 32px !important;
}

.highlight {
    color: #ff0000 !important;
}