.navbar {
    border-bottom: 1px solid #dbdbdb !important;
}

.bookPageContainer {
    overflow: hidden;
    padding: 100px 0 100px 0;
}

.navbarBrandContainer {
    align-items: center !important;
}

.header {
    color: #000000;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    text-align: left;
}

.text {
    font-family: Roboto Serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    text-align: left;
    color: #000000;
}

.button {
    padding: 0px 24px !important;
    height: 60px !important;
}

.center {
    text-align: center !important;

}

.book {
    margin-top: 32px !important;
    margin-bottom: 32px !important;
    padding: 0 32px 0 32px !important;
    max-width: 800px !important;
}

.arrowIcon {
    margin-left: 8px !important;
}

.bookPageHeaderContainer {
    margin: auto !important;
    width: 800px !important;
    padding: 0 32px 0 32px !important;
}

.book p {
    //! may cause styling issues on other pages
    margin-bottom: 32px;
}

.passage {
    margin-bottom: 32px;
}

.passage .lineText {
    margin-bottom: 32px;
}

.line-text-indent {
    margin-left: 3em;
}

.backContainer {
    display: flex !important;
    cursor: pointer !important;
}

data {
    margin-bottom: 32px !important;
}

.highlight {
    color: #ff0000 !important;
}

@media (max-width: 1060px) {
    .bookPageContainer {
        padding: 32px 0 172px 0;
    }
}