.navbar {
    border-bottom: 1px solid #dbdbdb;
   }
   .navbarBrandContainer {
       align-items: center;
   }
   h2 {
       margin-top: 32px;
       text-align: left;
   }
   
   header {
       padding-left: auto;
   }
   .text {
    display: flex;
    
   font-size: 20px;
    // margin-left: auto;
    // margin-right: auto;
    width: 100%;
    // max-width: 800px;
    
   }
   
   button {
    margin-top: 64px;
    width: 150px;


   }
  .center {
    text-align: center;
  }

  .book {
   margin-top: 32px;
   
  }
