.homePageContainer {
    padding: 0 25px 0 25px;
}

.container {
    width: 312px;
    margin-top: 64px;
}

#title {
    position: absolute;
    top: 74px;
    left: 74px;
    margin-left: auto;
    margin-right: auto;
}

.searchContainer {
    margin: auto;
    max-width: 600px;
    margin-top: 100px;
    text-align: center;
}

.sections {
    margin: auto;
    margin-top: 48px;
    max-width: 600px;
}

.homePageButton {
    margin-bottom: 16px;
}
.smallLinksText {
    margin-bottom: 24px;
}
.smallLinks {
    margin-top: 100px;
    text-align: center;
}
