body {
    font-family: "Roboto", Arial, sans-serif;
}

.searchPageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBar {
    width: 90%;
    max-width: 600px;
    align-items: center;
    margin-top: 32px;
}

.backIcon {
    pointer-events: all;
    cursor: pointer;
}

.anchorClass {
    text-decoration: none;
    color: #363636;
}

.previewText {
    color: gray;
}

.resultsContainer {
    width: 90vw;
    max-width: 600px;
    align-items: center;
}

.results{
   margin-top: 50px;
}

.booksHeader {
    margin-top: 52px;
}
.space {
    margin-bottom: 16px;
}

.noResult {
    margin-top: 50px;
    margin-left: 24px;
    color: black;
}