html,
body {
    height: 100%;
}

.theLawContainer,
.theProphetsContainer,
.theWritingsContainer,
.theRevelationContainer,
.theLettersContainer,
.theGospelsAndActsContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.space {
    margin-top: 8px;
    margin-bottom: 8px;
}

.navbarContainer {
    border-bottom: 1px solid #DBDBDB;
}

.navbarBrandContainer {
    align-items: center;
}

.buttonContainer {
    max-width: 600px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 42px;
    padding-bottom: 16px;
    align-self: center;
}

.theLawHeader,
.theProphetsHeader,
.theWritingsHeader,
.theRevelatioinHeader,
.theLettersHeader,
.theGospelsAndActsHeader,
{
text-align: center;
margin-top: 32px;
font-weight: 800;
}

.quotedText {
    font-size: 20px;
    width: 326px;
    text-align: center;
}

.imgContainer,
.quotedTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionEllipse {
    margin-top: 32px;
}

.quotedText {
    margin-top: 32px;
}

.backText {
    margin-left: 8px;
}

.backIcon {
    margin-left: 16px;
}

.backLink {
    color: black;
    display: flex;
}