html,
body {
    height: 100%;
}

.sectionPageContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-top: 68px;
    display: flex;
    flex-direction: column;
}

.sectionContainer {
    height: 100%;
    max-width: 600px;
    // display: flex;
    // flex-direction: column;
}

.space {
    margin-top: 8px;
    margin-bottom: 8px;
}


// .navbarBrandContainer {
//     align-items: center;
// }

.buttonContainer {
    max-width: 600px;
    // margin-left: 25px;
    // margin-right: 25px;
    margin-top: 42px;
    padding-bottom: 64px;
    // align-self: center;
}

.sectionHeader {
    // text-align: center;
    margin-top: 32px;
    font-weight: 800;
}

.quotedText {
    font-size: 20px;
    width: 326px;
    // text-align: center;
}

.imgContainer,
.quotedTextContainer {
    display: flex;
    flex-direction: column;
    // align-items: center;
}

.sectionEllipse {
    height: 200px;
    width: 200px;
}

.sectionEllipse {
    margin-top: 32px;
}

.quotedText {
    margin-top: 32px;
}

.backText {
    margin-left: 8px;
}

.backIcon {
    margin-left: 16px;
}

.backLink {
    color: black;
    display: flex;
}

// .navbar {
//     border-bottom: 1px solid #dbdbdb;
// }

.sectionPageLink, .sectionPageLinkContainer, .sectionPageButton, .sectionPageButtonDiv {
    max-width: 600px;
    width: 100%;
}

.sectionPageLinkContainer {
    align-items: center;
    margin-bottom: 24px;
}

.sectionPageButton {
    padding: 12px;
    border: 2px solid black;
    height: 60px;
    font-family: Roboto Serif;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: black;
}

.sectionPageButtonDiv {
    border: 2px solid black;
    border-top: none;
    height: 6px;
    background: #E5E5E5;
}