html,
body {
    height: 100%;
}

.sectionPageContainer {
    overflow: hidden;
    padding-top: 88px;
}

.sectionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.space {
    margin-top: 8px;
    margin-bottom: 8px;
}


.navbarBrandContainer {
    align-items: center;
}

.buttonContainer {
    max-width: 600px;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 42px;
    padding-bottom: 56px;
    align-self: center;
}

.sectionHeader {
    text-align: center;
    margin-top: 32px;
    font-weight: 800;
}

.quotedText {
    font-size: 20px;
    width: 326px;
    text-align: center;
}

.imgContainer,
.quotedTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sectionEllipse {
    height: 200px;
    width: 200px;
}

.sectionEllipse {
    margin-top: 32px;
}

.quotedText {
    margin-top: 32px;
}

.backText {
    margin-left: 8px;
}

.backIcon {
    margin-left: 16px;
}

.backLink {
    color: black;
    display: flex;
}
.navbar {
    border-bottom: 1px solid #dbdbdb;
}