.accountPageContainer {
    padding: 0 32px 0 32px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding-bottom: 64px;
    width: 100%;
}

h1 {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
    text-align: left;
    margin-bottom: 32px;
}

p {
    font-family: Roboto Serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 28.1px;
    text-align: left;

}

@media (max-width: 1060px) {
    .accountPageContainer {
        margin-top: 32px;
        align-items: start;
    }
}