.passageCard {
    width: 90vw !important;
    max-width: 600px !important;
    margin-bottom: 16px !important;
    border-radius: 0 !important;
    border: 2px solid black !important;
}

.passageCardFooter {
    border-top: 2px solid black !important;
}

