.headerText {
  display: block;
  position: fixed;
  top: 32px;
  font-family: Inter;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: left;
  color:#0A0A0A;
  margin-top: 32px;
  margin-left: 55px;
}

@media (max-width: 1060px) {
  .headerText {
    position: unset;
    margin: 32px 32px 24px 32px;
  }
}