.navbar {
    border-bottom: 1px solid #dbdbdb !important;
}

.navbarBrandContainer {
    align-items: center !important;
}
.text {
    font-size: 20px !important;
}

.button {
    margin-top: 64px !important;
    padding: 0px 24px !important;

}
.center {
    text-align: center !important;
    
}

.arrowIcon {
    margin-left: 8px !important; 
}

.headerContainer {
   margin: auto !important;
   width: 100% !important;
   padding-top: 64px !important;
}


.backContainer {
    display: flex !important;
    cursor: pointer !important;
}